* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body {
    font-family: Verdana, sans-serif;
    display: block;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-color: white;
}

a {

    text-decoration: none;
    /* font-style: italic; */
    color: #8e51a0;


}

.container {
    width: 100%;
    background: #fff;
    margin: auto;
    padding: 0 10%;
}

.portfolio h2, .portfolio h3, .portfolio p {
    text-align: center;
}

.topbar {
    /* background-color: #2c3e50; */
    color: #ecf0f1;
    padding: 20px;
    text-align: center;
}

.topbar img {

    width: 256px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px 1px  black;

}

.topbar .socials {

    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
    text-align: center;

}

.topbar .socials p {

    margin: auto;
    text-align: center;
    padding: 10px;

}

.topbar .socials p:hover {

    font-weight: 600;

}

hr {

    margin-top: 20px;
    margin-bottom: 20px;

}

footer {


}

.header-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.sidebar p {
    /* font-size: 18px; */
    margin-bottom: 20px;
    /* color: #bdc3c7; */
}

li {

    /* display: flex; */
    width: 100%;

}
li div {

    display: flex;

}
li div div {

    display: block;

}
.experience li .right{
    margin-left: auto;
    text-align: right;

}
.experience li .desc {

    font-size: 0.75em;
    text-align: justify;
    text-justify: inter-word;
    /* width: 100%; */

}

.portfolio {
    margin-top: 25px;
    display: block;
}

.portfolio h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.portfolio-section {
    margin-bottom: 25px;
}

.portfolio-section h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.portfolio-section p {
    font-size: 16px;
    margin-bottom: 10px;
}

.portfolio-section li .desc {

    margin-top: 10px;

}
.portfolio-section li {

    padding-bottom: 20px;
    
    padding-right: 10px;

}
.portfolio-section li p, .portfolio-section li h4 {

    font-size: 1.0625em;
    text-align: left;
    text-align: justify;
    text-justify: inter-word;

}

@media (min-width: 768px) {

    .gallery {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .gallery div {
        
        width: calc(256px + 20px);
        /* margin: auto; */
        padding: 20px;

    }

    .gallery div img {

        /* padding: 10px; */
        width: 100%;
        object-fit: cover;
        vertical-align: bottom;
        
    }

} 

.gallery div img {

    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 1px 1px 1px 1px  black;

}

.gallery p {
    
    font-weight: 600;
    margin: 0px;
    padding-top: 5px;
    text-align: center;
    font-size: 1em;

}


.gallery div:hover {
    transform: scale(1.05);
}

.portfolio-section.writing ul {
    list-style: none;
    padding: 0;
    font-size: 16px;
}

.portfolio-section.writing li {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    
    .gallery {
        display: block;
        width: 100%;

    }
    
    .gallery div {

        padding: 10px;
        width: 100%;

    }
    
    .gallery div img {

        object-fit: cover;
        vertical-align: bottom;
        width: 100%;
        
    }

    .container {

        height: auto;

    }

    .sidebar {
        width: 100%;
    }

    .portfolio {
        width: 100%;
    }
}
